.home-container {
  display: flex;
	padding: 40px 40px 100px 0px;
	justify-content: center;
	background-size: 100%;
	width: 100%;
}

.home-info-title {
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
	margin-top: 30px;
  margin-bottom: 100px;
}

.home-info-subtitle {
	margin-top: 25px;
	margin-bottom: 80px;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: -0.015em;
}

.auth-content {
  padding-left: 200px;
}