.movie-card {
  padding: 25px 0 0px 0;
  width: 270px;
  height: 320px;
}

.movie-info {
  padding: 15px 20px 55px 15px;
}

.movie-name {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #FFF;
}

.movie-year {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FFC700;
}